<h1>Users#edit</h1>
<h2>registered services</h2>
<% @registered_services.each do |s| %>
  <li><%= s.name %></li>
<% end %>
<h2>integrate services</h2>
<% @unregistered_services.each do |s| %>
  <li>
    <%= link_to 'integrate jawbone', "/auth/#{s.name}" %>
  </li>
<% end %>

